{% include 'header.html' with page_title="Profile | Pets App" %}

<section class="vh-100">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container mt-5 mb-4">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

              {% if success %}
              <div class="alert alert-success" role="alert">
                {{success}}
              </div>
              {% endif %}

              {% if error %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
              {% endif %}

              <form action="/profile" method="POST">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">First Name</label>
                  <input type="text" name="fname" value="{{customer.fname}}" id="form3Example3cg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Last Email</label>
                  <input type="text" name="lname" value="{{customer.lname}}" id="form3Example3cg" class="form-control form-control-lg" />
                </div>
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="email" name="email" value="{{customer.email}}" id="form3Example3cg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Phone No.</label>
                  <input type="number" name="phone" value="{{customer.phone}}" id="form3Example4cg" class="form-control form-control-lg" />
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Save Changes</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>